<a href="https://colab.research.google.com/github/SalmanEunus27/Python-Codes-and-Projects/blob/master/TTL_Survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
url = 'https://raw.githubusercontent.com/SalmanEunus27/Python-Codes-and-Projects/master/Survey%20For%20Research%20Purpose.csv/Survey%20For%20Research%20Purpose.csv'
df1 = pd.read_csv(url)

In [13]:
print(df1.head())

                     Timestamp  ... Do you think 3,000 (per month) would be a reasonable course fee for each of the above courses (individually)?
0  2020/04/28 5:17:18 PM GMT+6  ...                                                Yes
1  2020/04/28 6:29:21 PM GMT+6  ...                                                Yes
2  2020/04/28 6:54:47 PM GMT+6  ...                                                 NO
3  2020/04/28 7:30:00 PM GMT+6  ...                                                Yes
4  2020/04/28 7:53:20 PM GMT+6  ...                                               2500

[5 rows x 7 columns]